body {
    margin:0;
    padding:0;
    font-family: 'Opens Sans', sans-serif;
    color: #333333;
    line-height: 20px;
}

a {
    color: #333333;
    text-decoration: none;
}

main {
    width:90%;
    margin:auto;
}

a:hover {
    color: #6c8f6d;
}

#h1styleguide {
    font-size: 150px;
    text-align:center;
    margin:0;
    padding:5%;
    background-color: #d7d6b1
}

.h1styleguide {
    text-align: center;
    background-color: #f2be50;
}

.boxline {
    height: 55%;
    width: 60%;
    margin-left:25%;
    border: #ffffff solid 5px;
}

.mindre {
    font-size: 70px;
}

.logostyle {
    width:200px;
    margin-left:10%;
    margin-top:20px;
}

.sidenav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    height:100%;
    width:250px;
    position: fixed;
    background-color: #d7d6b1;
    font-family: 'Open Sans';
    font-size:25px;
    box-shadow: 5px 5px 5px;
}

.sidenav li {
    display:block;
    width:230px;
    margin:10px;
    margin-left:50px;
}

.side {
    height:900px;
    width:100%;
    padding-top:50px;
}

#side1 {
    background-color: #d7d6b1;
    
}

#wrap {
    width: 60%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left:30%;
}

/* FARVER */
.farve {
    height: 150px;
    width: 150px;
    margin:50px;
    box-shadow: 5px 5px 5px 5px #333333;
}

#darkgreen {
    background-color: #254805;
}

#yellow {
    background-color: #f3bf50;
}

#lightgreen {
    background-color: #b3c179;
}

#white {
    background-color: #ffffff;
}

#darkgrey {
    background-color: #333333;
}

.hex {
    line-height:325px;
    text-align: center;
}

/* TYPOGRAFI */
#typografi {
    margin-left:30%;
    width:50%;
    margin-top:30px;
}

h1 {
    font-size: 40px;
    margin:10px;
    background-color:#ffffff;
    text-align: left;
    margin:0px;
}

@media screen and(min-width:601px) {
    h1 {
        font-size:60px;
    }
}

h2 {
    font-size: 18px;
    color:#ffffff;
    background-color: #f2be50;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
    text-align: center;
    margin-top: 7px;
    font-weight: 100
}


p {
    text-align: left;
    font-size: 15px;
}

.centerp {
    text-align: center;
    background-color: #d7d6b1;
}

.hvidp {
    color:white;
    background-color: #333333;
}

@media only screen and (min-width:601px) {
    .hvidp {
        text-align:center;
    }
}

/* IKONER */

#ikoner {
    width:700px;
    margin-left: 35%;
    margin-top:50px;
}

.facebookikon {
    height:100px;
    width: auto;
    display:block;
    margin:auto;
}

.searchikon {
    height: 50px;
    width: auto;
    display:block;
    margin:auto;
}

.closeikon {
    height: 40px;
    width: auto;
    display:block;
    margin:auto;
}

/*KNAPPER*/
.knapper {
    width: 700px;
    margin-left:35%;
    margin-top:50px;
}

.imagebtn {
    width:175px;
    height:50px;
    background-color:#f2be50;
    border: 3px solid #f2be50;
    text-align:center;
    line-height:50px;
    font-weight:bold;
    color: #ffffff;
    display:block;
    margin:auto;
}

.imagebtn:hover {
    cursor:pointer;
    background-color: #ffffff;
    color: #f2be50;
}

.merebtn {
    width:90px;
    height:30px;
    display:block;
    margin:auto;
    text-align: center;
    line-height:30px;
    font-size: 15px;
    border: 3px solid #254805;
    font-weight: bold;
}

@media screen and (min-width:601px) {
    .merebtn {
    width:110px;
    height:35px;
    display:block;
    margin:auto;
    text-align: center;
    line-height:36px;
    font-size: 16px;
}
}

.merebtn:hover {
    background-color: #254805;
    cursor:pointer;
    color: #ffffff;
}

#nulstilbtn {
    position: relative;
    margin: 0;
    width: 125px;
    height: 30px;
    padding-bottom: 3px;
    line-height:20px;
    font-size: 15px;
    border: 3px solid #254805;
    font-weight: bold;
    cursor: pointer;
}

#filterbtn {
    margin-top: 100px;
    border: 1px solid #254805;
    color: #254805;
    width: 190px;
    height: 40px;
    padding-bottom: 3px;
    background-color: #ffffff;
}

#filterbtn img{
    width: 28px;
    margin: 5px;;
    float: left;
}

#filterbtn h4{
    margin-top: 9px;
}

#filterbtn3 {
    position: relative;
    top: 10px;
    left: 60px;
    border: 1px solid #333333;
    color: #ffffff;
    width: 180px;
    height: 40px;
    padding-top: 3px;
    background-color: #254805;
}

#filterbtn3 a {
    color: #ffffff;
}

/*BILLEDER*/

.billeder {
    width:700px;
    margin-left:33%;
    margin-top: 50px;
}

.bigimg {
    width:100%;
    height:auto;
}

.column {
    float:left;
    width:27.5%;
    display:block;
    margin:auto;
    margin: 20px;
}

/*NAVIGATION*/

.navigation {
    width:700px;
    margin-left:33%;
    margin-top:50px;
}

.navlink {
    display:block;
    float: left;
    margin:10px;
    margin-top: 40px;
    font-size:15px;
}

#searchnav {
    float:left;
    height:30px;
    margin-top:25px;
    margin-left:10px;
}

/*FOOTER*/

.footer {
    width:700px;
    margin-left:33%;
    margin-top:50px;
}

footer {
    width:100%;
    background-color: #333333;
    font-size: 15px;
    padding-top:10px;
    padding-bottom: 10px;
}

@media only screen and (min-width:601px) {
    footer {
        height:100px;
    }
}

.column1 {
    width:100%;
    height:50px;
    margin-bottom:10px;
    margin-top: 10px;
}

@media screen and (min-width:601px) {
    .column1 {
        width:33.33%;
        height:20%;
        float:left;
        margin-bottom:0;
        height:100px;
        text-align:center;
    }
}

#mailikonfoot {
    height:20px;
    margin:10px;
    margin-left:20px;
    margin-top:15px;
    float:left;
}

@media only screen and (min-width:601px) {
    #mailikonfoot {
        float:none;
        margin:auto;
        display:block;
        height:35px;
    }
}

.column2 {
    width:100%;
    height:50px;
    margin-bottom:10px;
    margin-top: 10px;
}

@media screen and (min-width:601px) {
    .column2 {
        width:33.33%;
        float:left;
        margin-bottom:0;
        height:100px;
    }
}

#mapikonfoot {
    height:35px;
    margin:10px;
    margin-left: 26px;
    float: left;
}

@media only screen and (min-width:601px) {
    #mapikonfoot {
        float:none;
        margin:auto;
        display:block;
    }
}

.column3 {
    width:100%;
    height:50px;
    margin-bottom:10px;
    margin-top: 10px;
}

@media screen and (min-width:601px) {
    .column3 {
        width:33.33%;
        height:100px;
        float: left;
        margin-bottom:0;
    }
}

#fbikonfoot {
    height:30px;
    margin: 10px;
    margin-left: 20px;
    float:left;
}

@media only screen and (min-width:601px) {
    #fbikonfoot {
        float:none;
        margin:auto;
        display:block;
        height:35px;
    }
}

#footertext {
    text-align: left;
    font-size:16px;
    padding:15px;
    margin-top:0px;
    font-weight:100;
}

@media only screen and (min-width:601px) {
    #footertext {
        padding-left:30%;
    }
}

/* TOPNAV */
.topnav {
    overflow: hidden;
    background-color: #b3c179;
    position: fixed;
    width:100%;
    top:0;
    z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    color: #254805;
}

#activenav {
    color: #254805;
}

.link {
    margin-top: 0px;
}

@media screen and (min-width:601px) {
    .link {
        margin-top: 30px;
    }
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
        float: right;
        display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
      padding-left:0px;
  }
  .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
  }
}

.logo {
    height:60px;
    padding:0;
    margin:0;
    float:left;
}

@media screen and (min-width:601px) {
    .logo {
        margin-left: 10%;
        height: 80px;
    }
}

.burgericon {
    width:50px;
    float:right;
    margin-top:8px;
}

.searchikonnav {
    height:38px;
    position:absolute;
    top:27px;
    right:80px;
}

@media screen and (min-width:601px) {
    .searchikonnav {
        height:50px;
        top:15%;
        right:2%;
    }
}

#searchoverlay {
    position: fixed;
    display:none;
    width:100%;
    height:87%;
    bottom:0;
    background-color: #b3c179;
    z-index: 1;
}

/* SØGEFUNKTION */

#searchInput {
    width: 90%;
    font-size: 16px;
    padding: 10px;
    margin:auto;
    display:block;
}

#searchUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchUL li a {
    width:90%;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

#indholdnav {
    margin-top:70px;
    margin-left:0px;
}

@media screen and (min-width:601px) {
    #indholdnav {
        margin-top:30px;
        margin-left:30%;
    }
}

#navnederst {
    margin-bottom: 20px;
}

@media screen and (min-width:601px) {
    #navnnederst {
        margin-bottom: 0px;
    }
}

/* KALENDER */

#h1kal {
    margin-top:120px;
    margin-bottom:30px;
}

@media screen and (min-width:601px) {
    #h1kal {
        margin-top:11%;
    }
}

#calendar-container {
    width:100%;
    border: 2px solid #333333;
    display:block;
    margin:auto;
    margin-top:20px;
    list-style-type: none;
    background-color: #f3bf50;
}

@media screen and (min-width:601px) {
    #calendar-container {
        width:300px;
        float:right;
        margin-right:0;
    }
}

.month {
    width:100%;
    text-align: center;
    color: #ffffff;
}

.month ul {
    margin-top:20;
    padding:0;
    list-style-type: none;
}

.month ul li {
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .foer {
    float: left;
    padding:10px;
}

.month .naeste {
    float:right;
    padding:10px;
}

.ugedage {
    margin:0;
    padding:4px;
    font-size:15px;
    border-bottom: 1px solid #333333;
    color: #ffffff;
}

.ugedage li {
    display: inline-block;
    width:13%;
    text-align:center;
}

.dage {
    padding: 10px 0;
    margin:0;
    list-style-type: none;
    background-color: #ffffff;
}

.dage li {
    display: inline-block;
    width:13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:15px;
}

@media screen and (min-width:601px) {
    .dage li {
        margin-bottom:15px;
    }
}

.addevent {
    float:right;
    margin:10px;
    margin-top:3px;
    margin-bottom:25px;
    margin-right:0px;
}

@media screen and (min-width:601px) {
    .addevent {
        margin-top:330px;
        float:none;
        text-align: right
    }
}

@media only screen and (min-width:601px) {
    .eventcont {
        width:25%;
        float:left;   
    }
}

@media only screen and (min-width:601px) {
    #eventcontmiddle {
        margin-right: 12.5%;
        margin-left: 12.5%;
    }
}

.contimg-text {
    position:relative;
}

.imgkal {
    width:100%;
    margin:auto;
    display:block;
}

@media screen and (min-width:601px) {
    .imgkal {
        float:left;
    }
}

.textevent {
    position:absolute;
    bottom:0px;
    background-color: #f3bf50;
    width:100%;
    height: 15%;
    font-weight: bold;
    color:#ffffff;
    line-height: 25px;
}

@media only screen and (min-width:601px) {
    .textevent {
        position: absolute;
        float:none;
        bottom:-270px;
        left:40%;
        width:75%;
        height:45px;
    }
}

.h2kal {
    padding-right:10px;
    text-align: right;
}

.pkal {
    margin-top:7px;
    margin-bottom:7px;
}

#merebtnkal {
    float:left;
    margin-bottom: 25px;
}

.formkal {
    margin-top:70px;
    background-color: #b3c179;
    padding:10px;
    color: #ffffff;
    margin-bottom:20px;
}

@media only screen and (min-width:601px) {
    .formkal {
        margin-top:40%;
    }

}

.formkal input {
    width:98%;
    height:30px;
    margin-top:5px;
}

.formkal input[type=submit] {
    background-color: #254805;
    color:#ffffff;
    width:170px;
    height:50px;
    font-size: 15px;
}

.formkal input[type=submit]:hover {
    border: 2px solid #ffffff;
}

/* Kasser */

.first {
         width: 100%;
         height: 320px;
         position: relative;
         border: 1px solid #333333;
         margin: 0 auto;
         margin-top: 10px;
         overflow: hidden;
       }

.first .second {
         position: absolute;
         width: 100%;
         height: 200px;
         left: 0%;
         top: 0%;
         background-size: cover;
         border-right: 1px solid #333333;
         border-bottom: 1px solid #333333;
         overflow: hidden;
       }

.first .third {
         position: absolute;
         width: 24%;
         height: 32px;
         left: 0%;
         top: 63%;
         border-bottom: 1px solid #333333;
}

.first .fourth {
         position: absolute;
         width: 22%;
         height: 32px;
         left: 24%;
         top: 63%;
         border-bottom: 1px solid #333333;
         border-left: 1px solid #333333;
}

.first .five {
         position: absolute;
         width: 24%;
         height: 32px;
         left: 46%;
         top: 63%;
         border-bottom: 1px solid #333333;
         border-left: 1px solid #333333;
}

.first .six {
         position: absolute;
         width: 30%;
         height: 32px;
         left: 70%;
         top: 63%;
         border-bottom: 1px solid #333333;
         border-left: 1px solid #333333;
}

.first .seven {
         position: absolute;
         width: 100%;
         height: 118px;
         left: 4%;
         top: 77%;
}

.h3bolig {
    margin: 1px;
    color: #254805;
}

.pbolig {
    margin: 3px;
}

#boligfirst {
    margin-top: 12px;
}

#boligsidste {
    margin-bottom: 10px;
}

#boligimg1 {
    background-image: url(../img/COLOURBOX15499773.JPG);    
}

#boligimg2 {
    background-image: url(../img/COLOURBOX4051703.jpg)
}

/* Modalbolig */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* boligfilter*/

.filterbox {
    width: 100%;
    height: 130px;
    border: 1px solid black;
    margin: 10px auto;
    background-color: #e3e3e3;
}

#filterboxfirst {
    margin-top: 40px;
    height: 100px;
}

.filtercheck {
    margin-left: 10px;
    margin-bottom: 12px;
}

#filterboxlast .h3filter {
    text-align: left;
}

#pmin {
    float: left;
    margin-left: 10px;
    padding-right: 205px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#pmax {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.h3filter {
    margin: 10px;
}

.pfilter {
    margin: 10px;
}

.pvalue {
    margin: 5px;
    text-align: center;
}
/* Slider */

.slidecontainer {
  width: 100%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 20px;
  border-radius: 5px; 
  background: #d5d5d5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 15px; 
  background: #254805;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 15px; 
  background: #254805;
  cursor: pointer;
}